mixin descriptionCard(review)
    .card__container
            .card__container_item
                .card_inner
                    .card__container_item_description
                        .card_title
                            h3
                                span=Description
                        .card_info
                            .card_info_item
                                p= product.description