header.header
  a(href='/')
      img.logo(src='/img/logo_transparent.png' alt='travelx logo')
  nav.main-nav
    ul.main-nav-list
      li.main-nav-link
        a.main-nav-link(href='#') LOGIN
      li.main-nav-link
        a.main-nav-link(href='#') SIGNUP
  button.btn-mobile-nav
    ion-icon.icon-mobile-nav(name='menu-outline')
    ion-icon.icon-mobile-nav(name='close-outline')
