mixin hostTransit(info, detail)
    br
    br
    .card__container_item
        .card_inner
            .card__container_item_description
                .card_title
                    h3
                        span=info
                .card_info
                    .card_info_item
                        p=detail

                    

        

                        