doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')
      link(href='/css/style.css' rel='stylesheet')
      link(href='/css/media.css' rel='stylesheet')
      link(href='/css/stylecards.css' rel='stylesheet')
      link(href="/img/favicon.png" rel="icon" type="image/x-icon" )
      script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
      script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
      title Holiday Package | #{title}
  
  body
    // HEADER
    include _header
        
    // CONTENT
    block content
      h1 PlaceHolder
      
    // FOOTER
    include _footer

    script(src='./script.js')