extends base

block content
  main.main-area
    h3
      span= "All Products"
    .card__container
        .card__container_item
          .card_inner
            .card__container_item_img
              img(src="https://a0.muscache.com/im/pictures/a2e7de4a-6349-4515-acd3-c788d6f2abcf.jpg?aki_policy=large")
            .card__container_item_description
              .card_title
                h3
                  span= "Sydney Hyde Park City Apartment"
              .card_info
                .card_info_item
                  p= "Our city apartment is a bright, comfortable 1 bedroom with 24hr front-desk access. It is conveniently located directly across from Hyde Park and within walking distance of delightful cafes, restaurants, parks, major city attractions and public transport, including Museum Station which has a direct connection to Sydney Airport. SPACE  Comfortable 1 bedroom which has a queen-sized bed, is air conditioned and has a self-contained kitchen, including:  fridge, dishwasher, oven, cooktop, microwave. SECURITY  Secure 24hour front-desk access with full access to the rooftop area which  has stunning views of Hydepark and the city, and includes: pool, sauna and gym.  Laundry facilities, which are located on the mezzanine level and has coin operated washing machines and dryers. MY AVAILABILITY I am easily contactable at anytime. If I am unable to welcome you personally I will leave the keys to the apartment and any further information marked for your attention at the front desk. AREA Located withi"
              
              .card-footer
                .features
                  .stat
                    span.label Bedrooms
                    span.value= 2
                  .stat
                    span.label Bath
                    span.value= 3
                  .stat
                    span.label Price
                    span.value= 5678
                .cart
                  .add-to-cart
                    a.btn1(href=`/product/64a03be093a50053b6ac8393`)
                      span
                        <ion-icon name="cart-outline"></ion-icon>
                      span  
                        | Details

