@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

body {
  background-color: hwb(0deg 98% 5%);
  color: #555555;
  font-size: 14px;
}

.main-area {
  /* background-color: #f9f4f4; */
  background-color: white;
  padding-top: 3rem;
  margin: 20px;
}

.card_info {
  max-width: 100%;
  margin: 0 auto;
}
.card_info_item {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: black;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 10px;

}


.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
  margin-bottom: 2rem;
  /* padding: 1.5rem; */
}

.card__container_item {
  display: flex;
  min-width: 350px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 0.5rem;
  flex-wrap:nowrap;
  background-color: white;
  margin-bottom: 1.5rem;
}

.card__container_item_description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.card__container_item_description h3 {
  margin-top: 1.5rem;
  color: black;
  /* uppercase */
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;

}
/* image size to box */



img {
  width: 100%;
  height: 200px
}

/* .card_item {
  width: 5%;
} */

/* CARD FOOTER */

.card-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}
.stat {
  box-sizing: border-box;
  width: calc(100% / 3);
  float: left;
  text-align: center;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  padding-bottom: 1rem;
}

.stat .label {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  color: #95989a;
}

.stat .value {
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}

.feature-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

/* ADD to cart button */

.cart {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 1rem;
}

.add-to-cart {
  background: #77bd4c;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 10px;
}

.add-to-cart span {
  color: black;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 2rem;
  font-weight: 500;
}

.add-to-cart a {
  text-decoration: none;

}