* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2';
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1;
    font-weight: 400;
    color: #555;
}



/* ADD TO CART - START */


.add-to-cart span {
    color: yellow;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
}

/* ADD TO CART - END */

.card__container_item_description h3 {

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 1.5rem;
    color: black;
    /* uppercase */
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: left;
    overflow: hidden;
}


.card__container_item {
    display: flex;
    min-width: 350px;
    width: 300px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 1.5rem;
    flex-wrap: nowrap;
    background-color: white;
    margin-bottom: 1.5rem;
}

.card_info_item {

    color: black;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;

}

.card-footer {
    padding: 1rem 1rem;
    border-top: none !important;
    background-color: inherit !important;
}

.card-footer:hover {
    border-top: none !important;
}


.card_info {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}