* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.privacy-h1,
.privacy-h2 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.privacy-h1 {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.privacy-h2 {
  font-size: 3.2rem;
  line-height: 1.05;
  margin-bottom: 2.2rem;
}

.privacy-pTag {
  font-size: 2.2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.privacy-unorder-list {
  list-style: disc;
  


  li {
    font-size: 2.2rem;
    list-style: disc;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    margin-inline-start: 4rem;
}
}


.strong {
  font-weight: 700;
}

a {
  color: $color-primary;
  text-decoration: none;
}
