mixin textWording(productHeading, productInfo)
    main.main-area
        .card_inner
            .product-detail-info
                h2=productHeading
                           
        .card_info
            .card_info_item
                .product-detail-description
                    p=productInfo
    //- .product-detail-info
    //-     h2=productHeading
    //- .product-detail-description
    //-     p=productInfo
