* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  padding: 0;
  margin: 2rem ;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  /* background: tomato; */
  justify-content: space-around;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  row-gap: 2rem;
  column-gap: 2rem;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.card__data {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__data svg {
  margin-right: 0.7rem;
}
.card__icon {
  height: 1rem;
  width: 1rem;
  fill: orangered;
}

.card__features {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
}

.card-amenities {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.heading-tertirary {
    margin-bottom: 1rem;
}