footer.footer
  .myfooter
    .about-footer.footer__links
      ul
        li
          h3  About Travelx
        li
          a(href='#') About
        li
          a(href='#') Contact
        li
          a(href='#') Terms
        li
          a(href='/privacy') Privacy
    // SERVICES LINKS
    .services-footer.footer__links
      ul
        li
          h3 Our Services
        li
          a(href='#') Services
        li
          a(href='#') FAQ
        li
          a(href='#') Blog
        li
          a(href='#') Contact
    // Connect with US
    .connect-footer.footer__links
      ul
        li
          h3  Connect With Us
        li
          a(href='https://www.facebook.com' target='_blank') Facebook
        li
          a(href='https://www.twitter.com' target='_blank') Twitter
        li
          a(href='https://www.instagram.com' target='_blank') Instagram
        li
          a(href='https://www.youtube.com' target='_blank') Youtube