extends base

block content
  .main-detail-page
    h1.privacy-h1 Privacy Policy
    p.privacy-pTag
        | This privacy policy has been compiled to better serve those who are concerned with how their
        | &apos;Personally
        | identifiable information&apos; (PII) is being used online. PII, as used in US privacy law and information security,
        | is information that can be used on its own or with other information to identify, contact, or locate a single
        | person, or to identify an individual in context. Please read our privacy policy carefully to get a clear
        | understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in
        | accordance with our website.
        h2.privacy-h2
            | What personal information do we collect from the people that visit our blog, website or app?
        p.privacy-pTag
            | When ordering or registering on our site, as appropriate, you may be asked to enter your
            | name, email address or
            | other details to help you with your experience.
        h2.privacy-h2 When do we collect information?
        p.privacy-pTag
            | We collect information from you when you register on our site, fill out a form or enter
            | information on our site.
        h2.privacy-h2 How do we use your information?
        p.privacy-pTag
            | We may use the information we collect from you when you register, make a purchase, sign up
            | for our newsletter,
            | respond to a survey or marketing communication, surf the website, or use certain other site features in the
            | following ways:
        ul.privacy-unorder-list
            li
                | To personalize user&apos;s experience and to allow us to deliver the type of content and product offerings in
                | which you are most interested.
            li To improve our website in order to better serve you.
            li
                | To allow us to better service you in responding to your customer service requests.
        h2.privacy-h2 How do we protect visitor information?
        p.privacy-pTag
            | Our website is scanned on a regular basis for security holes and known vulnerabilities in
            | order to make your
            | visit to our site as safe as possible.
        p.privacy-pTag We use regular Malware Scanning.
        p.privacy-pTag
            | Your personal information is contained behind secured networks and is only accessible by a
            | limited number of
            | persons who have special access rights to such systems, and are required to keep the information confidential.
            | In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
        p.privacy-pTag
            | We implement a variety of security measures when a user enters, submits, or accesses their
            | information to
            | maintain the safety of your personal information.
        p.privacy-pTag
            | All transactions are processed through a gateway provider and are not stored or processed on
            | our servers.
        h2.privacy-h2 Do we use &apos;cookies&apos;?
        p.privacy-pTag
            | Yes. Cookies are small files that a site or its service provider transfers to your
            | computer&apos;s hard drive through
            | your Web browser (if you allow) that enables the site&apos;s or service provider&apos;s systems to recognize your browser
            | and capture and remember certain information. For instance, we use cookies to help us remember and process the
            | items in your shopping cart. They are also used to help us understand your preferences based on previous or
            | current site activity, which enables us to provide you with improved services. We also use cookies to help us
            | compile aggregate data about site traffic and site interaction so that we can offer better site experiences and
            | tools in the future.
        p.privacy-pTag.strong We use cookies to:
        ul.privacy-unorder-list
            li Understand and save user&apos;s preferences for future visits.
            li
                | Compile aggregate data about site traffic and site interactions in order to offer better site experiences
                | and tools in the future. We may also use trusted third-party services that track this information on our
                | behalf.
        p.privacy-pTag
            | You can choose to have your computer warn you each time a cookie is being sent, or you can
            | choose to turn off all
            | cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different,
            | so look at your browser&apos;s Help menu to learn the correct way to modify your cookies.
        p.privacy-pTag
            | If you disable cookies, some features will be disabled. It won&apos;t affect the user&apos;s
            | experience that make your site
            | experience more efficient and some of our services will not function properly.
        h2.privacy-h2 Do we disclose any information to outside parties?
        p.privacy-pTag
            | We do not sell, trade, or otherwise transfer to outside parties your personally identifiable
            | information. This
            | does not include trusted third parties who assist us in operating our website, conducting our business, or
            | servicing you, so long as those parties agree to keep this information confidential. We may also release your
            | information when we believe release is appropriate to comply with the law, enforce our site policies, or protect
            | ours or others rights, property, or safety. However!
        p.privacy-pTag
            | However, non-personally identifiable visitor information may be provided to other parties
            | for marketing,
            | advertising, or other uses.
        h2.privacy-h2 Third party links
        p.privacy-pTag
            | Occasionally, at our discretion, we may include or offer third party services on our
            | website. These third party
            | sites have separate and independent privacy policies. We therefore have no responsibility or liability for the
            | content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and
            | welcome any feedback about these sites.
        h2.privacy-h2 California Online Privacy Protection Act
        p.privacy-pTag
            | CalOPPA is the first state law in the nation to require commercial websites and online
            | services to post a privacy
            | policy. The law&apos;s reach stretches well beyond California to require any person or company in the United States
            | (and conceivably the world) that operates websites collecting personally identifiable information from
            | California consumers to post a conspicuous privacy policy on its website stating exactly the information being
            | collected and those individuals with whom it is being shared, and to update that policy whenever changes are
            | made to the law. 
            a(href='http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf') See more at
            
        p.privacy-pTag.strong According to CalOPPA, we agree to the following:
        p.privacy-pTag.indent Users can visit our site anonymously.
        p.privacy-pTag.indent
            | Once this privacy policy is created, we will add a link to it on our home page or as
            | a minimum, on the first
            | significant page after entering our website.
        p.privacy-pTag.indent
            | Our Privacy Policy link includes the word &apos;Privacy&apos; and can easily be found on the
            | page specified above.
        p.privacy-pTag.strong You will be notified of any Privacy Policy changes:
        ul.privacy-unorder-list
            li On our Privacy Policy Page
        p.privacy-pTag.strong Can change your personal information:
        ul.privacy-unorder-list
            li By logging in to your account
        p.privacy-pTag.strong How do we use your information?
        ul.privacy-unorder-list
            li We use the information we collect in various ways, including to:
            li Provide, operate, and maintain our website
            li Improve, personalize, and expand our website
            li Understand and analyze how you use our website
            li Develop new products, services, features, and functionality
            li
                | Communicate with you, either directly or through one of our partners, including for customer service, to
                | provide you with updates and other information relating to the website, and for marketing and promotional
                | purposes
        p.privacy-pTag.strong How do we protect your information?
        ul.privacy-unorder-list
            li We do not use vulnerability scanning and/or scanning to PCI standards.
            li We do not use Malware Scanning.
            li We do not use an SSL certificate
            li We do not use an SSL certificate
            li We do not use Do Not Track technology
            li We do not use Google Analytics
        p.privacy-pTag.strong Do we use &apos;cookies&apos;?
        p.privacy-pTag
            | Yes. Cookies are small files that a site or its service provider transfers to your
            | computer&apos;s hard drive through
            | your Web browser (if you allow) that enables the site&apos;s or service provider&apos;s systems to recognize your browser
            | and capture and remember certain information. For instance, we use cookies to help us remember and process the
            | items in your shopping cart. They are also used to help us understand your preferences based on previous or
            | current site activity, which enables us to provide you with improved services. We also use cookies to help us
            | compile aggregate data about site traffic and site interaction so that we can offer better site experiences and
            | tools in the future.
        p.privacy-pTag.strong use cookies to:
        ul.privacy-unorder-list
            li Understand and save user&apos;s preferences for future visits.
            li
                | Compile aggregate data about site traffic and site interactions in order to offer better site experiences
                | and tools in the future. We may also use trusted third-party services that track this information on our
                | behalf.
        p.privacy-pTag
            | You can choose to have your computer warn you each time a cookie is being sent, or you can
            | choose to turn off all
            | cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different,
            | so look at your browser&apos;s Help Menu to learn the correct way to modify your cookies.
        p.privacy-pTag
            | If you disable cookies, some features will be disabled. It won&apos;t affect the user&apos;s
            | experience that make your site
            | experience more efficient and some of our services will not function properly.
        h2.privacy-h2 Third Party Disclosure
        p.privacy-pTag
            | We do not sell, trade, or otherwise transfer to outside parties your personally identifiable
            | information. This
            | does not include trusted third parties who assist us in operating our website, conducting our business, or
            | servicing you, so long as those parties agree to keep this information confidential. We may also release your
            | information when we believe release is appropriate to comply with the law, enforce our site policies, or protect
            | ours or others rights, property, or safety. However!
        p.privacy-pTag
            | However, non-personally identifiable visitor information may be provided to other parties
            | for marketing,
            | advertising, or other uses.
        h2.privacy-h2 Third party links
        p.privacy-pTag
            | Occasionally, at our discretion, we may include or offer third party services on our
            | website. These third party
            | sites have separate and independent privacy policies. We therefore have no responsibility or liability for the
            | content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and
            | welcome any feedback about these sites.
        h2.privacy-h2 Links to other sites
        p.privacy-pTag
            | Our site may contain links to other sites that are not operated by us. If you click on a
            | third party link, you
            | will be directed to that third party&apos;s site. We strongly advise you to review the Privacy Policy of every site
            | you visit.
        p.privacy-pTag
            | We have no control over and assume no responsibility for the content, privacy policies or
            | practices of any third
            | party sites or services.
        h2.privacy-h2 Children&apos;s Privacy
        p.privacy-pTag
            | Our website does not address anyone under the age of 18. We do not knowingly collect
            | personal information from
            | children under 18. In the case we discover that a child under 18 has provided us with personal information, we
            | immediately delete this from our records.
        h2.privacy-h2 Changes to This Privacy Policy
        p.privacy-pTag
            | We may update our Privacy Policy from time to time. We will notify you of any changes by
            | posting the new Privacy
            | Policy on this page.
        p.privacy-pTag
            | We will let you know via email and/or a prominent notice on our site prior to the change
            | becoming effective.
        p.privacy-pTag
            | You are advised to review this Privacy Policy periodically for any changes. Changes to this
            | Privacy Policy are
            | effective when they are posted on this page.
        h2.privacy-h2 Contact Us
        p.privacy-pTag
            | If you have any questions about this Privacy Policy, 
            a(href='about.html') Contact us