.footer {
  background-color: #77bd4c;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer li {
    list-style: none;
    font-size: 1.5rem;
    line-height: 3rem;
}

.footer h3 {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: yellow;
}